* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

body {
    height: 100dvh;
}

#forms-nav {
    flex: 0 0 auto;
    background-color: #eeeeee;
    height: fit-content;
    padding: 10px;
    overflow-x: auto;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#forms-nav::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.nav-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    font-size: 18px;
    color: black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
}
.nav-button:hover {
    background-color: #cccccc;
}
.nav-button:active {
    background-color: #aaaaaa;
}
.nav-button:first-child {
    margin-left: 0;
}

.belt-indicator {
    margin-right: 10px;
    box-sizing: border-box;
    width: 18px;
    height: 12px;
    border-radius: 3px;
    line-height: 4px;
    font-size: 12px;
    text-align: center;
    color: gold;
}

.button-row button {
    font-size: 18px;
    width: 50%;
    height: 32px;
}

#legendBtn {
    font-size: 18px;
    width: 100%;
}

#legendContainer {
    padding: 5px;
    border: 10px solid black;
    display: none;
    justify-content: center;
}

#legendColorColumn {
    margin-right: 5px;
    justify-content: space-around;
    align-items: center;
}

.legend-color-indicator {
    width: 18px;
    height: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}

canvas {
    flex: 1 1 auto;
    display: flex;
    border: 5px solid black;
    box-sizing: border-box;
    height: 100%;
}
